body {
  font-family: "Courier New", Courier, monospace;
  margin: 15px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.content {
  width: 700px;
  margin: auto;
}

.header {
  text-align: center;
}

.published {
  text-align: right;
}

#nav {
  text-align: end;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}
