body {
  font-family: "Oswald", "Open Sans", sans-serif;
  margin: 15px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

p {
  margin: 3px;
}

.content {
  width: 575px;
  margin: auto;
}

.header {
  text-align: center;
}

.title {
  max-width: 500px;
  margin: auto;
}

.title h1 {
  text-align: center;
}

.published {
  text-align: right;
  font-style: italic;
  margin-bottom: 15px;
}

#nav {
  text-align: end;
}

#nav a {
  margin-right: 4px;
}

.image-description {
  text-align: center;
  margin-bottom: 7px;
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}

.references {
  margin: 15px 0;
}

.footer-article {
  text-align: center;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}